<div>
All friends:
<div>
  <table border="1">
    <thead>
      <tr>
        <th>S.no</th>
        <th>Name</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let frn of friends ">
        <td>{{ frn.id }}</td>
        <td> {{ frn.name }} </td>
        <td> {{ frn.years }}</td>
        <td>
          <button (click)="deleteFriend(frn.id)">Delete</button>
        </td>
        <td>
          <button (click)="updateFriend(frn.id)">Update</button>
        </td>
        <td>
            <button (click)="updateFriendInSPA(frn.id)">Update in SPA</button>
          </td>
      </tr>
    </tbody>

  </table>
</div>

</div>
<div>
  <button (click)="displayAddFriendForm()" [disabled]="displayForm">Add New Friend</button>
</div>
<br>
<div *ngIf="displayForm">
  <fieldset>
    <legend>Add New Friend</legend>

    <form #addFriendForm="ngForm" (ngSubmit)="saveFriend(addFriendForm.value)">
      <label>Name: </label>
      <input type="text" name="name" [(ngModel)]="name">
      <br>
      <label>Years: </label>
      <input type="number" name="years" [(ngModel)]="years">
      <br>
      <button type="submit">{{ buttonLabel }}</button>
    </form>  
  </fieldset>
<br>
 
</div>


<div *ngIf="displayUpdateForm">
  <fieldset>
    <legend>Update Friend</legend>

    <form #updateFriendForm="ngForm" (ngSubmit)="updateFriendNow(updateFriendForm.value)">
      <label>Id: </label>
      <input type="number" name="id" [(ngModel)]="id" readonly>
      <br>
      <label>Name: </label>
      <input type="text" name="name" [(ngModel)]="name">
      <br>
      <label>Years: </label>
      <input type="number" name="years" [(ngModel)]="years">
      <br>
      <button type="submit">{{ buttonLabel }}</button>
    </form>  
  </fieldset>
<br>
 
</div>

<div>
    Message: {{ message }}
</div>