.hidenseek{
    background-color: brown;
    width: 100px;
    height: 50px;;

}

.one{
    background-color: aqua;
    width: 100px;
    height: 50px;;

}


.two{
    background-color: greenyellow;
    width: 100px;
    height: 50px;;

}

.three{
    background-color: blue;
    width: 100px;
    height: 50px;;

}